<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @for (item of data; track item.id) {
                <tr>
                    <td>{{ item.description }}</td>
                    <td [ngClass]="item.type">
                        {{ item.type === 'expense' ? '-' : '' }} {{ item.value | currency:'BRL' }}
                    </td>
                    <td>{{ item.type === 'income' ? 'Receita' : 'Despesa' }}</td>
                </tr>
            } @empty {
                <tr>
                    <td colspan="3" style="text-align: center;">Nenhuma Transação encontrada.</td>
                </tr>
            }
        </tbody>
    </table>
</div>